// Wrappers
#app {
    padding: 35px 50px 50px;

    @include tablet {
        padding: 75px 75px 50px;
    }
}
.info_wrapper {
    padding: 15px 0;

    @include tablet {
        padding: 50px 0;
    }
}

// Components
.large_heading_group {
    .large_heading {
        font-weight: $w_bold;
        font-size: 20px;
        text-transform: uppercase;

        @include tablet {
            font-size: 24px;
        }
    }
    .large_description {
        width: 100%;
        padding: 10px 0 30px;

        @include tablet {
            width: 45%;
        }
    }
}
.heading_group {

    padding-bottom: 20px;
    .heading {
        text-transform: uppercase;
        font-weight: $w-bold;
        font-size: 20px;
        padding-bottom: 5px;
    }
    .description {
        font-size: 14px;
    }
}


.group_small {
    padding-top: 15px;
}
.group_copy_small {
    
    font-size: 14px;
}
.group {
    padding-bottom: 50px;

    .group-copy {
        width: 100%;
        padding-right: 15px;

        &.longer {
            @include tablet {
                width: 65%;
                padding-bottom: 10px;
            }
        }
        @include tablet {
            width: 58%;

            
        }
    }
}
.textbox {
    padding-top: 10px;
}

.button_wrapper {
    position: fixed;
    bottom: 0px;
    width: 85%;
    background: $light_brown;
    padding: 20px 0 30px;
    border-top: 1px solid $black;

    @include  tablet {
        bottom: 0px;
    }
}
button {
    background: black !important;
    text-transform: uppercase !important;
    border-radius: 16px !important;
    font-size: 14px !important;
    padding: 8px 20px !important;
    outline: none !important;
    border: none !important;
    margin-right: 15px !important;
    // position: fixed !important;
    // bottom: 25px !important;

    // @include tablet {
    //     bottom: 75px !important;
    // }
}
.next_button, .reset_button {
    // left: 225px;

    // @include tablet {
    //     left: 250px;
    // }
}



.info_single {

    width: 100%;
    padding-bottom: 50px;

    &.pages {
        @include tablet {
            width: 50%;
        }
    }

    @include tablet {
        padding-bottom: 0;
        width: 45%;
        padding-right: 30px;
    }

    
    .form_select {
        margin-top: 20px;
        color: $black;
        width: 200px !important;
    }
}
.info_group {
    padding-bottom: 50px;
}
.service_group {
    padding-bottom: 20px;

    @include tablet {
        width: 65%;
        padding-bottom: 10px;
    }

    label {
        width: 65%;
        color: black;
        font-size: 16px;
        margin-bottom: 0;
        
        @include tablet {
            margin-bottom: 10px;
        }
    }
}
.end_group {
    padding: 20px 0;
    border-top: 1px solid black;
    margin-top: 75px;

    @include tablet {
        margin-top: 30px;
        width: 75%;
    }

    .heading {
        padding-bottom: 5px;
    }
}
.radio_group {
    padding-top: 25px;

    label {
        width: 50%;
        color: $black;
    }
}
.page_group {
    padding-bottom: 10px;
}


// Form Details
label {
    color: $black !important;
    font-size: 16px !important;

    &.platform_control_label {
        width: 300px;
    }
    &.project_estimate_label {
        width: 35%;
        
    }
}

.platform-control {
    width: 75px !important;
    margin-right: 20px !important;
}
.form-control {
    width: 100%;
    outline: none;
    background: transparent;
    font-size: 16px !important;

    @include tablet {
        width: 30%;
    }
}
.form-control-lg {
    font-size: 16px !important;
}

input:placeholder-shown {
    color: $placeholder !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid black !important;
    border-radius: 0 !important;
    
    font-size: 14px !important;

    @include tablet {
        text-align: center !important;
    }
}
select {
    width: 100% !important;

    @include tablet {
        width: 30% !important;
    }
}
.long_select {
    width: 65% !important;
}
.platform_select {
    width: 50%;
}
textarea {
    border-color: $black;
    width: 90%;
}