<!DOCTYPE html>
<html>
<head>
    <title>VueJS App - CRWNS Estimator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <form id="app">
        <section v-if="step == 1">
            <h3>Agency Rate</h3>

            <input 
            v-model="form.rate"
            type="number" placeholder="$75" class="form-control form-control-lg" >
        
        </section>
        <section v-if="step == 2">
            <h3>What type of service?</h3>

            <div>
                <label for="brand_design">Brand Design</label>
                <input 
                v-model="form.brand_design"
                type="number" placeholder="20" class="form-control form-control-lg">
            </div>

            <div>
                <label for="research_insights">Research Insights</label>
                <input 
                v-model="form.research_insights"
                type="number" placeholder="20" class="form-control form-control-lg">
            </div>
            
            <div>
                <label for="content_strategy">Content Strategy</label>
                <input 
                v-model="form.content_strategy"
                type="number" placeholder="20" class="form-control form-control-lg">
            </div>

            <div>
                <label for="platforms">Platforms</label>
                <input 
                v-model="form.platforms"
                type="number" placeholder="75" class="form-control form-control-lg">
            </div>

            <div>
                <label for="activations">Activations</label>
                <input 
                v-model="form.activations"
                type="number" placeholder="125" class="form-control form-control-lg">
            </div>

            <div>
                <label for="consulting">Consulting</label>
                <input 
                v-model="form.consulting"
                type="number" placeholder="25" class="form-control form-control-lg">
            </div>

            <div>
                <label for="brand_foundation">Brand Foundation</label>
                <input 
                v-model="form.brand_foundation"
                type="number" placeholder="220" class="form-control form-control-lg">
            </div>

            <div>
                <label for="brand_mgmt">Brand Management</label>
                <input 
                v-model="form.brand_mgmt"
                type="number" placeholder="120" class="form-control form-control-lg">
            </div>

            <div>
                <label for="brand_operations">Brand Operations</label>
                <input 
                v-model="form.brand_operations"
                type="number" placeholder="120" class="form-control form-control-lg">
            </div>

            <!-- <div v-for="service in services">
                <label for="{{ service.variable }}">{{ service.name }}</label>
                <input 
                v-model="form.{{ service.variable }}"
                type="number" placeholder="{{ service.estimate_value }}" class="form-control form-control-lg">
            </div> -->
             

            <h3>Total Value: </h3> 
            {{ service_total }}

           <h3>Initial Cost</h3>
           ${{ rate_service }}

        </section>
        
        <section v-if="step == 3">
           
                <h3>Impact Rate</h3>
                <p>The impact value determines how much this work will impact the brand's ability to make money</p>
                <select v-model="impact_rate">
                    <option disabled value="">Please select one</option>
                    <option v-bind:value="0">Lightly Impacts</option>
                    <option v-bind:value="5">Moderately Impacts</option>
                    <option v-bind:value="10">Heavily Impacts</option>
                </select>

                <br/>

                Impact Rate: {{ impact_rate }}

        </section>

        <section v-if="step == 4">
            
                <h3>Timeline Rate</h3>
                <p>Is the client comfortable with our timeline, or do we need to expedite?</p>
                <input type="radio" name="radio" id="one" value="0" v-model="timeline_rate"><label for="one">No Expedite</label>

                <input type="radio" name="radio" id="two" value="5" v-model="timeline_rate"><label for="two">Two Weeks Expedited</label>

                <input type="radio" name="radio" id="three" value="10" v-model="timeline_rate"><label for="three">30 Days Expedited</label>

                <br/>
                Timeline Rate: {{ timeline_rate }}
          
        </section>
        
        <section v-if="step == 5">
            
        
            <h3>Estimates</h3>
            <h6>Low Estimate:</h6> ${{ low_estimate }}
            <h6>Median Estimate:</h6> ${{ median_estimate }}
            <h6>High Estimate:</h6> ${{ high_estimate }}

            <h3>More Info</h3>
            <h6>Agency Rate:</h6> ${{ form.rate }}

            <h3>Services Listed:</h3>
            <h6 v-if="form.brand_design != null">Brand Design:</h6> {{ form.brand_design }}
            <h6 v-if="form.research_insights != null">Research & Insights:</h6> {{ form.research_insights }}
            <h6 v-if="form.content_strategy != null">Content Strategy:</h6> {{ form.content_strategy }}
            <h6 v-if="form.platforms != null">Platforms:</h6> {{ form.platforms }}
            <h6 v-if="form.activations != null">Activations:</h6> {{ form.activations }}
            <h6 v-if="form.consulting != null">Consulting:</h6> {{ form.consulting }}
            <h6 v-if="form.brand_foundation != null">Brand Foundation:</h6> {{ form.brand_foundation }}
            <h6 v-if="form.brand_mgmt != null">Brand Management:</h6> {{ form.brand_mgmt }}
            <h6 v-if="form.brand_operations != null">Brand Operations:</h6> {{ form.brand_operations }}
            <h6 v-if="form.brand_transitions != null">Brand Transitions:</h6> {{ form.brand_transitions }}

            <h3>Service Total</h3>
            {{ service_total }}

            <h3>Ultra Value</h3>
            {{ ultra_value }}
            
            
        </section>

        <button 
        v-if="step != 1"
        @click.prevent="prevStep">Previous Step</button>

        <button 
        v-if="step != totalsteps"
        @click.prevent="nextStep">Next Step</button>

        <!-- <button 
        v-if="step == 5"
        @click.prevent="sendInquiry">Get Estimate</button> -->

        <button v-if="step == 5"
        class="button is-warning" @click="resetForm()">Reset Form</button>

    </form>

    <script>
        const App = new Vue({

            el:"#app",

            data: {
                step: 1,
                totalsteps: 5,
                impact_rate: '',
                timeline_rate: '',

                form: {

                    brand_design: null,
                    research_insights: null,
                    content_strategy: null,
                    platforms: null,
                    activations: null,
                    consulting: null,
                    brand_foundation: null,
                    brand_mgmt: null,
                    brand_operations: null,
                    brand_transitions: null,
                    rate: null
                }
                
            },

            computed: {
                
                service_total: function () {
                    return Number(this.form.brand_design) + Number(this.form.research_insights) + Number(this.form.content_strategy) + Number(this.form.platforms) + Number(this.form.activations) + Number(this.form.consulting) + Number(this.form.brand_foundation) + Number(this.form.brand_mgmt) + Number(this.form.brand_operations) + Number(this.form.brand_transitions);

                    return false;
                },

                rate_service: function() {
                    return this.service_total * Number(this.form.rate);                    
                },

                ultra_value: function() {
                    return Number(this.impact_rate) + Number(this.timeline_rate) + this.service_total;
                },

                low_estimate: function() {
                    return this.ultra_value * Number(this.form.rate) * 0.75;
                },

                median_estimate: function() {
                    return this.ultra_value * Number(this.form.rate) * 1;
                },

                high_estimate: function() {
                    return this.ultra_value * Number(this.form.rate) * 1.25;
                }
            },

            methods: {

                prevStep: function()
                {
                    this.step--;
                },
                nextStep: function()
                {
                   
                    this.step++;
                },
                sendInquiry: function()
                {
                    alert('this has been sent!');
                },
                resetForm() {
                    console.log('Reseting the form')
                    var self = this; //you need this because *this* will refer to Object.keys below`

                    //Iterate through each object field, key is name of the object field`
                    Object.keys(this.data.form).forEach(function(key,index) {
                    self.data.form[key] = '';
                    });
                }

            },

            mounted(){
            }
        });
    </script>
</body>
</html>
