.fixed_header {
    padding: 15px 50px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    background: $black;
    color: $white;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
            color: $green;
        }
    }

    @include tablet {
        padding: 10px 75px;
    }

    .fixed_header_col {
        width:40%;
        text-transform: uppercase;

        &.last {
            text-align: right;
        }
    }
}

// Misc
.bold {
    font-weight: $w-bold;
    text-transform: uppercase;
}